# Core App
streamlit==1.39.0
pydicom==2.4.4
opencv-python-headless==4.10.0.84
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
pandas==2.2.3
Pillow==10.3.0

# Deep Learning
torch==2.3.1
torchvision==0.18.1

# Utility
psutil==6.0.0
requests==2.32.3
protobuf==5.29.4

# Optional Visualization
altair==5.3.0
pydeck==0.9.1
